<!DOCTYPE html>
<html lang="en">
<head>
    <title id='Description'>Kanban</title>
    <link rel="stylesheet" href="/jqwidgets/styles/jqx.base.css" type="text/css" />
    <script type="text/javascript" src="/scripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxdata.js"></script> 
    <script type="text/javascript" src="/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxgrid.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxgrid.pager.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxgrid.selection.js"></script> 
    <script type="text/javascript" src="/jqwidgets/jqxnumberinput.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxwindow.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="/jqwidgets/jqxinput.js"></script>
    <script type="text/javascript" src="/scripts/demos.js"></script>
    <script type="text/javascript" src="generatedata.js"></script>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
 
<link href="../css/style.css" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>



    <script type="text/javascript">
        $(document).ready(function () {
            // prepare the data
			var temp=[];
			var dataSprints;
		<% 
			if(sprintsData==null || sprintsData.length==0){
			%> 
			dataSprints =[];
			<%
			}
			else{
		%>
					dataSprints ='<%- (sprintsData) %>';
		<% } %>
		
			<%
				for(i=0;i<sprintFields.length;i++){
				%>
					
					var obj = {name: '<%=sprintFields[i]%>', type: '<%=sprintFields[i]%>'};
					temp.push(obj);
				<% }%>
			/*
			 var source =
      {
          datatype: "json",
          datafields: [
              { name: 'subcategoryid', type: 'number' },
              { name: 'name', type: 'string' },
              { name: 'description', type: 'string' }
          ],
          id: 'id',
          url: url
      };
	  */
           // var data = generatedata(200);
			//var dataSprints ='<%- (sprintsData) %>';//'{"SprintId":"one","SprintNo":"two","SprintDescription":"three"}';
			var dataStories='{"StoryTitle":"one","StartDate":"two","EndDate":"three","AssignedTo":"three","StoryDescription":"three"}';
            /*var source =
            {
                localdata: data,
                datatype: "array",
                datafields:
                [
                    { name: 'firstname', type: 'string' },
                    { name: 'lastname', type: 'string' },
                    { name: 'productname', type: 'string' },
                    { name: 'quantity', type: 'number' },
                    { name: 'price', type: 'number' }
                ],
                updaterow: function (rowid, rowdata, commit) {
                    // synchronize with the server - send update command
                    // call commit with parameter true if the synchronization with the server is successful 
                    // and with parameter false if the synchronization failder.
                    commit(true);
                }
            };  */
			 var url = "/getSprintData?projectid=1";
			 var source =
      {
          datatype: "json",
		  localdata:dataSprints,
          datafields: temp,
          id: 'id',
          //url: url
      };
		
	
			
	
            var dataAdapter = new $.jqx.dataAdapter(source);
            var editrow = -1;
            // initialize jqxGrid
            $("#jqxgrid").jqxGrid(
            {
                width: <%=sprintFields.length%>*220,
                source: dataAdapter,
                pageable: true,
                autoheight: true,
                columns: [
				<%
				for(i=0;i<sprintFields.length;i++){
				%>
					{ text: '<%=sprintFields[i]%>',datafield: '<%=sprintFields[i]%>', width: 200 },
				<% }%>
       
                  { text: 'Edit', datafield: 'Edit', columntype: 'button', width: 100, cellsrenderer: function () {
                     return "Edit";
                  }, buttonclick: function (row) {
                     // open the popup window when the user clicks a button.
                     editrow = row;
                     var offset = $("#jqxgrid").offset();
                     $("#popupWindow").jqxWindow({ position: { x: parseInt(offset.left) + 60, y: parseInt(offset.top) + 60 } });
                     // get the clicked row's data and initialize the input fields.
                     var dataRecord = $("#jqxgrid").jqxGrid('getrowdata', editrow);
					 	<%
				for(i=0;i<sprintFields.length;i++){
				%>
					
					 $("#<%=sprintFields[i]%>").val(dataRecord.<%=sprintFields[i]%>);
				<% }%>
                    
                     // show the popup window.
					  $("#SprintId").prop("readonly", true);
					  $('#Save').css('display', 'inline');
					  $('#AddSprintData').css('display', 'none');
                     $("#popupWindow").jqxWindow('open');
                 }
                 }
                ]
            });
			
            var editrow = -1;
	
            // initialize the popup window and buttons. SPRINT
            $("#popupWindow").jqxWindow({
                width: 350, resizable: false,  isModal: true, autoOpen: false, cancelButton: $("#Cancel"), modalOpacity: 0.01           
            });
            $("#popupWindow").on('open', function () {
              //  $("#firstName").jqxInput('selectAll');
            });
         
            $("#Cancel").jqxButton({ theme: theme });
            $("#Save").jqxButton({ theme: theme });
			$("#AddSprintData").jqxButton({theme:theme});
			
            // update the edited row when the user clicks the 'Save' button.
			         $("#Save").click(function () {
                var url;
                console.log('edit row'+editrow);
                if (editrow >= 0)
                   {
                     console.log('in if');
                   	
					var row={
					
						 	<%
								for(i=0;i<sprintFields.length;i++){
							
									var temp=sprintFields.length-1;
									if(i==temp){
									%>
												'<%=sprintFields[i]%>':$("#<%=sprintFields[i]%>").val()
									<%}else	 	{%>
											'<%=sprintFields[i]%>':$("#<%=sprintFields[i]%>").val(),
									<%} 
							}%>
				}
                     console.log(row);
                        $.ajax('/updateData/'+<%=pid%>+'/'+"kanban", {//'/kanban/updateKanban', {
                            type: 'POST',
                            data: JSON.stringify(row),
                            contentType: 'text/json',
                            success: function() { console.log('sprint updated success'); },
                            error  : function() {   alert("Request failed: " ); }
                        });
                         var rowID = $('#jqxgrid').jqxGrid('getrowid', editrow);

                     
                       $('#jqxgrid').jqxGrid('updaterow', rowID, row);
                       $("#popupWindow").jqxWindow('hide');
                }
                
            });
			// Add new sprint data
            $("#AddSprintData").click(function () {
			
					var row={
					
						 	<%
								for(i=0;i<sprintFields.length;i++){
							
									var temp=sprintFields.length-1;
									if(i==temp){
									%>
												'<%=sprintFields[i]%>':$("#<%=sprintFields[i]%>").val()
									<%}else	 	{%>
											'<%=sprintFields[i]%>':$("#<%=sprintFields[i]%>").val(),
									<%} 
							}%>
				}
				console.log('row data');
				console.log(row);
				console.log(JSON.stringify(row));
							
									 $.ajax('/newData?pid='+<%=pid%>, {//'/kanban/newKanban', {
                            type: 'POST',
                            data: JSON.stringify(row),
                            contentType: 'text/json',
                            success: function() { console.log('sprint addedd success'); },
                            error  : function() {   alert("Request failed: " ); }
                        });
                   // var rowID = $('#jqxgrid').jqxGrid('getrowid', editrow);
					var commit = $("#jqxgrid").jqxGrid('addrow', null, row)
                   // $('#jqxgrid').jqxGrid('updaterow', rowID, row);
                    $("#popupWindow").jqxWindow('hide');
                
            });
			 $("#addSprint").click(function () {
					  var offset = $("#jqxgrid").offset();
					 $("#popupWindow").jqxWindow({ position: { x: parseInt(offset.left) + 60, y: parseInt(offset.top) + 60 } });
					
					 $('#Save').css('display', 'none');
					  $('#AddSprintData').css('display', 'inline');
					$("#popupWindow").jqxWindow('open');
            });
	
                   // var rowID = $('#jqxgrid').jqxGrid('getrowid', editrow);
					var commit = $("#jqxgridStories").jqxGrid('addrow', null, row)
                   // $('#jqxgrid').jqxGrid('updaterow', rowID, row);
                    $("#popupWindowStories").jqxWindow('hide');
                
            });
      
				

	
    </script>
</head>
<body class='default'>
	

  <div class="navbar navbar-fixed-top">


    <div class="navbar-inner">

      <div class="container">

        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <a class="brand" href="/">
          Software Modeling   
        </a>    

        <div class="nav-collapse">

          <ul class="nav navbar-nav">
            <li><a href="/home">Home </a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Project <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#" onclick="OpenModal()" >Create Project</a></li>
                <li><a href="#">View All Projects</a></li>

              </ul>
            </li>


            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Profile <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Edit Profile</a></li>


              </ul>
            </li>
          </ul>

          <ul class="nav pull-right">

            <li class="">           
              <a href="/logout" class="">
                Sign out
              </a>

            </li>


          </ul>

        </div><!--/.nav-collapse -->  

      </div> <!-- /container -->

    </div> <!-- /navbar-inner -->

  </div> <!-- /navbar -->


<div class="container"> 

  <table>
	
	<!--<%
	console.log(sprintFields.length);
	console.log(sprintFields[0]);
	for(i=0;i<sprintFields.length;i++){
	%>
	<tr><td><%=sprintFields[i]%></td><td><input type="text" name="sprintField<%=i%>" ></input></td></tr>
	<%}%>-->
	<br>
	<br>
	</table>
	
  <button type="button" id="addSprint" class="btn btn-info">Add Card</button>

	<br>
	<br>
    <div id='jqxWidget'>
        <div id="jqxgrid"></div>
        <div style="margin-top: 30px;">
            <div id="cellbegineditevent"></div>
            <div style="margin-top: 10px;" id="cellendeditevent"></div>
       </div>
	   <div id="jqxgridStories"></div>
       <div id="popupWindow">
            <div>Edit</div>
            <div style="overflow: hidden;">
                <table>
						<%
					for(i=0;i<sprintFields.length;i++){
					%>
						
						  <tr>
                        <td align="right"><%=sprintFields[i]%>:</td>
                        <td align="left"><input id='<%=sprintFields[i]%>' /></td>
                    </tr>
					<% }%>
       
      
                    <tr>
                        <td align="right"></td>
                        <td style="padding-top: 10px;" align="right">
						<input style="margin-right: 5px;" type="button" id="Save" value="Save" />
						<input style="margin-right: 5px;" type="button" id="AddSprintData" value="Add"  />
						<input id="Cancel" type="button" value="Cancel" />
						</td>
                    </tr>
                </table>
            </div>
       </div>
	   <div>
	   <input type="submit" id="addStory" value="Add Story"/>
	   </div>
	
    </div>
    </div>
</body>
</html>